
.mealImage{
    width: 250px;
    height: 200px;
    border-radius: 5px 5px 0 0;
}
/* .meal-h3{
    padding: 5px;
} */
#mealContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;
    text-align: center;
    
}
.mealDiv{
    cursor: pointer;
}
/* .mealDiv:hover{
    border: 1px solid green;
} */
#mealDetail{
    /* text-align: center; */
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    margin-bottom: 30px;
    width: 500px;
    /* border: 1px solid greenyellow; */
    box-shadow: 5px 5px 10px gray;
    
    
}
#mealDetail img{
    width: 480px;
    height: 250px;
    border-radius: 10px;
}
.detailText{
    font-weight: 800;
    margin-top: 14px;
}
.hungryMonster{
    text-align: center;
    color: brown;
    margin-top: 20px;
    padding: 5px;
}